.heading{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1em;
}

.landing-overview-card.card{
    background: #333;
    margin: 2em 0px;
}

.overview-card-shadow{
    width: 100%;
    z-index: 1;
}

.overview-card-shadow .first, .overview-card-shadow .second{
    background-color: #fff;
    opacity: 0.1;
    height: 7.06em;
    width: 22em;
    top: 2em;
    right: 0em;
}

.overview-card-shadow .first{
    -webkit-clip-path: polygon(20% 0, 100% 0, 64% 100%, 51% 100%);
    clip-path: polygon(20% 0, 100% 0, 64% 100%, 51% 100%);
}

.overview-card-shadow .second{
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 93%, 97% 100%, 81% 100%);
    clip-path: polygon(50% 0%, 100% 0, 100% 93%, 97% 100%, 81% 100%);
}

.overview-box{
    color: white;
}

.overview-box .first, .overview-box .second{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.overview-box .first .title{
    font-size: 1.08rem;
}

.overview-box .first .amount{
    font-size: 2rem;
    font-weight: 500;
}

.overview-box .second{
    margin-top: 0.4em;
}

.overview-box .second .list-item{
    font-size: 0.75rem;
    text-transform: uppercase;
}

.overview-box .second .list-item .key{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 4em);
}

.overview-box .second .list-item .value{
    display: inline-block;
    vertical-align: top;
}

.friend-count-selector{
    padding-top: 1em;
    margin: 0px 1em;
}

.friend-count-selector .selector-labels{
    font-size: 1.2rem;
    width: 100%;
}

.friend-count-selector .count{
  font-weight: 600;
  right: 0;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2em;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 3em;
    width: 0.5em;
    border-radius: 0.375em;
    background: #333;
    margin-top: -0.5em;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #333;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 1em;
    width: 0.2em;
    border-radius: 0.375em;
    background: #333;
}

input[type=range]:focus::-ms-fill-lower {
    background: #333;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

/* The following only affects the range input in FF */

input[type="range"]::-moz-range-progress {
  background-color: #333; 
}
  
input[type="range"]::-moz-range-track {  
  background-color: #ccc;
}

.tips-selector{
    margin-top: 2em;
    margin-left: 1em;
}

.tips-selector .tip{
    font-size: 0.8rem;
    color: #777;
    font-weight: 800;
    text-align: center;
}

.tips-selector .tip div{
    border: 1px solid #ddd;
    padding: 0.5em 1.5em;
    border-radius: 0.375em;
    margin-right: 2em;
    cursor: pointer;
}

.tips-selector .tip.selected div{
    border-color: #25d18a;
}

.tips-selector .tip.selected div:after{
    position: absolute;
    content: "\f00c";
    top: -0.55em;
    right: 3.35em;
    background-color: #25d18a;
    color: white;
    font-family: 'Font Awesome 5 Free';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 0.5rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    width: 2.5em;
    height: 1.5em;
    padding-left: 7px;
}

.numbers-grid{
    margin-top: 2.5em;
}

.numbers-grid .row{
  margin: 1.5em 0px;
  font-weight: 600;
}

.numbers-grid .row div{
    transition: all .25s ease-in-out;
}

.numbers-grid .row div:hover{
    transform: scale(1.5);
}
.numbers-grid .row .fa-backspace{
    color: orangered;
}

.split-action-btn{
    color: white;
    background: #25d18a;
    padding: 0.5em 0px;
    font-weight: 500;
    margin-top: 2em;
}