.heading{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1em;
}

.landing-overview-card.card{
    background: #333;
    margin: 2em 0px;
}

.overview-box{
    color: white;
}

.overview-box .first, .overview-box .second{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.overview-box .first .title{
    font-size: 1.08rem;
}

.overview-box .first .amount{
    font-size: 2rem;
    font-weight: 500;
}

.overview-box .second{
    margin-top: 0.4em;
}

.overview-box .second .list-item{
    font-size: 0.75rem;
    text-transform: uppercase;
}

.overview-box .second .list-item .key{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 4em);
}

.overview-box .second .list-item .value{
    display: inline-block;
    vertical-align: top;
}