<div class="p1">
  <!-- Landing Page Heading -->
  <div class="heading">Split Bill</div>

  <!-- Overview Card -->
  <div class="card landing-overview-card">
    <div class="card-body">
      <div class="overview-box">
        <div class="first">
          <div class="title">Total</div>
          <div class="amount">$80.00</div>
        </div>
        <div class="second">
          <div class="list-item">
            <div class="key">Bill</div>
            <div class="value">$80.00</div>
          </div>
          <div class="list-item">
            <div class="key">Friends</div>
            <div class="value">4</div>
          </div>
          <div class="list-item">
            <div class="key">Tips (10%)</div>
            <div class="value">$8.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Range Selector: Number of Friends to split with -->
  <input type="range" class="custom-range" min="0" max="5" id="customRange2">
  <div>Added random div</div>
</div>